<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            font-size: 24px;
        }
    </style>
</head>
<body>
<pre>
    Дорогой {{ messages.name }},

Я хотел бы выразить свою искреннюю благодарность за ваше доброе сердце и поддержку.

Ваши слова и действия оказали на меня огромное влияние, и я глубоко признателен за всё, что вы сделали.

Благодаря вашей помощи я смог создать новый комментарий. Ваши советы и поддержка были неоценимы в этом процессе.

Еще раз огромное спасибо за то, что вы есть в моей жизни. Я очень ценю ваше время и внимание.

С наилучшими пожеланиями, Django
</pre>
</body>
</html>